@use './variables.scss' as *;

.container {
    max-width: 800px;
    margin: 0 $space-1;
}

.yellow-button {
    background-color: $yellow;
    border-radius: 4px;
    min-width: 80px;
}

.item {
    border-bottom: 3px solid #ffff;
}

.item-emoji {
    font-size: 40px;
}

.item-emoji-input {
    height: 60px;
    width: 50px;

    font-size: 35px;
}

@media (min-width: 800px) {
    .container {
        margin: 0 auto;
    }
}
